@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta-sans);
  --font-custom: var(--font-boing);

  --color-orbit-white: #faffff;
  --color-orbit-black: #17181d;
  --color-orbit-primary: #0f86ee;
  --color-orbit-input: #f0f6f9;
  --color-orbit-secondary: #0f86ee;
  --color-orbit-border: #e3e8e8;
}

body {
  color: var(--color-orbit-black);
}

h1 {
  font-family: var(--font-custom), sans-serif;
}
